#figure-1 {
    margin: auto;
    position: relative;
    width: 350px;
    height: 350px;
    transition: transform 0.5s ease;
}

#figure-1 div {
    position: absolute;
    box-sizing: border-box;
    display: block;
    top: 125px;
    left: 125px;
}

#element-1-1 {
    border: 50px solid;
    border-color: orange transparent transparent transparent;
    transition: top 0.5s ease;
}


#element-1-2 {
    border: 50px solid;
    border-color: transparent lightgreen transparent transparent;
    transition: left 0.5s ease;
}


#element-1-3 {
    border: 50px solid;
    border-color: transparent transparent dodgerblue transparent;
    transition: top 0.5s ease;
}


#element-1-4 {
    border: 50px solid;
    border-color: transparent transparent transparent orangered;
    transition: left 0.5s ease;
}

#figure-1:hover {
    transform: rotate(540deg) scale(0.5);
}

#figure-1:hover #element-1-1 {
    top: 250px;
}

#figure-1:hover #element-1-2 {
    left: 0px;
}

#figure-1:hover #element-1-3 {
    top: 0px;
}

#figure-1:hover #element-1-4 {
    left: 250px;
}

