@font-face {
    font-family: GochiHand;
    src: url("fonts/GochiHand-Regular.ttf");
}

.container {
    width: 750px;
    height: 750px;
    position: absolute;
    background-color: navy;
    background-size: cover;
}

#container-left {
    background-image: url("images/background-2.jpg");
    top: 50px;
    left: 50px;
    z-index: 1;
}

#container-center {
    background-image: url("images/background-3.jpg");
    top: 400px;
    left: 575px;
    z-index: 2;

}

#container-right {
    background-image: url("images/background-1.jpg");
    top: 50px;
    left: 1100px;
    z-index: 1;
}

.main-section {
    display: block;
    float: left;
    width: 500px;
    height: 100%;
}

.container aside {
    display: block;
    float: left;
    height: 100%;
    padding: 20px 5px;
}

.main-image-container {
    margin-top: 20px;
}

.main-image {
    margin: auto;
    width: 90%;
    height: 275px;
    border: 7px solid ghostwhite;
    background-size: cover;
    background-position: center center;
}

.content-container {
    width: 90%;
    margin: 35px auto;
    background-color: white;
    border: 7px solid ghostwhite;
    font-size: 17px;
    font-family: "Verdana", serif;
}

.menu-bar-side {
    background-color: lightgray;
}

.menu-item-side {
    display: inline-block;
    width: 120px;
    margin: 5px 3px 0 3px;
    padding: 4px;
    background-color: white;
    font-weight: bold;
    text-align: center;
    color: #0350c4;
}

.menu-item-side:first-child {
    color: #a01855;
}

.menu-item-side:not(:first-child) {
    box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.3);
}

.menu-item-side:hover {
    color: crimson;
}

.menu-bar-center {
    background-image: linear-gradient(to bottom, #73bee0 0%, #479be0 75%);
}

.menu-item-center {
    display: inline-block;
    width: 120px;
    margin: 5px 3px 0 3px;
    padding: 4px;
    background-image: linear-gradient(to bottom, #3e71cf 0%, #1aa2d7 100%);
    box-shadow: inset 0px -2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-align: center;
    color: white;
}

.menu-item-center:first-child {
    background-image: linear-gradient(to bottom, #63e267 0%, #64b570 75%);
}

.menu-item-center:hover{
    background-image: linear-gradient(to bottom, #f29f2f 0%, #ee6c57 75%);
}

.content {
    padding: 20px;
    font-size: 16px;
}
.content-image {
    width: 200px;
    float: left;
    margin-right: 10px;
    border: 5px solid #33ee3b;
}

.content a {
    display: block;
    margin-top: 15px;
    color: #0350c4;
    font-weight: bold;
}

.content a:hover {
    color: navy;
}

.image-container-square {
    display: inline-block;
    margin: 5px;
}

.image-square {
    width: 90px;
    height: 90px;
    border: 4px solid ghostwhite;
    background-size: cover;
    background-position: center center;
}

.image-container-rect {
    display: block;
    margin: 0 20px 30px 20px;
}

.image-rect {
    width: 180px;
    height: 100px;
    border: 5px solid ghostwhite;
    background-size: cover;
    background-position: center center;
}

.image-title {
    margin-top: 2px;
    text-align: center;
    font-family: "GochiHand", "Monotype Corsiva", cursive;
    color: ghostwhite;
    font-size: 22px;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 2px 2px;
    word-wrap: break-word;
}