@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url("../fonts/PTSans-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url("/fonts/PTSans-Bold.ttf");
    font-weight: bold;
}

body {
    background-color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
}

#root {
    display: block;
    width: 1000px;
    margin: auto;
    padding-top: 10px;
}

.content-block {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(85, 64, 255, 0.2), inset 0 -3px 1px rgba(0, 0, 0, 0.1);
}

#main-header {
    display: block;
    width: 100%;
}

#main-header label {
    font-weight: bold;
}

#main-header select {
    min-width: 20%;
    height: 25px;
    margin-top: 10px;
    border-radius: 10px;
    line-height: 25px;
    font-family: inherit;
    text-indent: 10px;
}

#main-header select:focus {
    outline: none;
    border: 2px solid orangered;
}

#country-info {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

#country-general {
    display: block;
    width: 25%;
    border-left: 5px solid orangered;
}

#country-attractions {
    display: block;
    width: 74%;
    border-right: 5px solid orangered;
}

#choice-info {
    display: block;
    width: 100%;
}

#country-name {
    font-weight: bold;
    text-align: center;
    font-size: 1.4em;
}

#country-flag {
    display: block;
    height: 100px;
    margin: 10px auto 20px auto;
    border: 0.5px solid lightgray;
}

#country-details label {
    font-weight: bold;
    margin-right: 5px;
}

.attraction {
    display: flex;
    margin-top: 10px;
    padding: 10px 0;
    border: 1px solid #e3e3e3;
    border-radius: 15px;
}

.attraction:first-child {
    margin-top: 0;
}

.attraction-checkbox-holder {
    width: 10%;
    padding: 7px;
    text-align: center;
}

.attraction-info-holder {
    width: 70%;
    padding: 0 7px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.chosen {
    border-left: 5px solid rgba(43, 236, 72, 0.76);
}

.attraction-price-holder {
    margin-top: 20px;
    font-size: 0.9em;
}

.attraction-price-holder label{
    font-weight: bold;
}

.attraction-name {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1em;
}

.attraction-photo-holder {
    display: flex;
    align-items: center;
    width: 20%;
    padding: 0 7px;
}

.attraction-photo {
    width: 95%;
    height: 100px;
    background-size: cover;
    background-position: 0 0;
}