body {
    perspective: 1000px;
}

div {
    width: 500px;
    height: 500px;
    display: flex;
    margin: 150px auto;
    color: #272727;
    line-height: 100px;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    background-color: #fcab35;
    border-radius: 100px;
    user-select: none;
    -webkit-animation: animR 2s linear 0s infinite normal none;
    animation: animR 2s linear 0s infinite normal none;
}

@keyframes animL {
    from {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    to {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

@keyframes animR {
    from {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    to {
        transform: rotate3d(1, 1, 1, -360deg);
    }
}