body {
    background-color: #fcfcff;
    font-family: sans-serif;
    font-size: 17px;
}

#root {
    display: block;
    width: 1000px;
    margin: 20px auto;
    padding: 20px;

    background-color: white;
    border-radius: 20px;

    -webkit-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
}

table {
    width: 95%;
    margin: auto;
    border: 1px solid black;
}

input[type="button"], input[type="reset"] {
    margin: 5px 15px 5px 0;
    padding: 1px 10px;
    background-color: ghostwhite;
    border: 1px solid lightgray;
    font-size: 1em;
}

input[type="button"]:hover, input[type="reset"]:hover {
    border-color: lightgray;

    -webkit-box-shadow: inset 0 -1px 3px rgba(30, 144, 255, 0.4);
    -moz-box-shadow: inset 0 -1px 3px rgba(30, 144, 255, 0.4);
    -o-box-shadow: inset 0 -1px 3px rgba(30, 144, 255, 0.4);
    box-shadow: inset 0 -1px 3px rgba(30, 144, 255, 0.4);
}

input[type="button"]:active, input[type="reset"]:active {
    background-color: rgba(0, 0, 0, 0.07);

    box-shadow: none;
}

input[type="button"]:focus, input[type="reset"]:focus {
    outline: none;
    border-color: dodgerblue;
}

input[type="text"] {
    width: 200px;
}

input[type="number"] {
    width: 75px;
}

input[type="checkbox"] {
    margin-top: 15px;
}

#form-table {
    border-collapse: separate;
    border-spacing: 1px;
}

#form-table td{
    padding: 3px;
    border: 1px solid black;
}

#form-table tr:first-child td{
    text-align: center;
}

#form-table tr:first-child td{
    text-align: center;
}

#form-table tr:nth-child(2n+5) td{
    text-align: right;
}

#form-table p{
    margin: 2px 0;
}

#basket-cell {
    position: relative;
    width: 20%;
}

#basket-fill {
    position: absolute;
    top: 2px;
    right: 10%;

    min-width: 20px;
    min-height: 20px;

    border-radius: 50%;
    background-color: dimgray;

    line-height: 20px;
    font-size: 0.7em;
    color: white;
}

#basket {
    width: 95%;
    margin: 15px auto 30px auto;
}

#basket-table {
    width: 100%;
    border-radius: 2px;
    font-size: 0.8em;
}

#basket-table th {
    padding: 2px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

#basket-table td{
    padding: 6px 2px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

#clear-basket-btn {
    float: right;
}
