#main-menu {
    width: 100%;
    min-height: 40px;
    background-color: #e10000;
    line-height: 40px;
}

#main-menu li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0 15px;
    font-size: 17px;
}

#main-menu li a{
    color: white;
    text-decoration: none;
}

#main-menu li:first-child {
    background-color: darkred;
}

#main-menu li:hover {
    background-color: ghostwhite;
}

#main-menu li:hover a {
    background-color: ghostwhite;
    color: red;
}

.menu-hover-indicator {
    width: 0;
    height: 4px;
    position: absolute;
    top: 80%;
    left: 5%;
    background-color: #e10000;
    border-radius: 2px;
    transition: width 0s;
}

#main-menu li:hover .menu-hover-indicator {
    width: 90%;
    transition: width 0.3s ease;
}

#main-submenu {
    width: 100%;
    min-height: 25px;
    background-color: #e6e6e6;
    line-height: 25px;
    color: dimgrey;
}

#main-submenu li {
    display:inline-block;
    margin: 0 11px;
    padding: 7px;
}

#main-submenu li:first-child {
    margin-left: 30px;
}

#main-submenu li:last-child {
    float: right;
    margin: 0;
}

#main-submenu a {
    color: dimgrey;
}

#main-submenu li:last-child a {
    border: 4px solid transparent;
    transition: font-size 0.2s ease, border 0.2s ease;
}

#main-submenu li:not(:last-child):hover {
    background-color: #868686;
}

#main-submenu li:not(:last-child):hover a {
    color: ghostwhite;
}

#main-submenu li:last-child a:hover {
    border-width: 2px;
    font-size: 1.09em;
    color: #121215;
}

#username {
    font-weight: bold;
}