@media screen and (max-width: 1000px) {
    .main-container {
        width: 97%;
        margin: auto;
    }

    #main-header {
        height: 45px;
        line-height: 45px;
    }

    #title {
        font-size: 37px;
    }

    #subtitle {
        font-size: 25px;
        float: right;
    }

    #main-menu {
        min-height: 50px;
        line-height: 50px;
    }

    #main-menu li {
        font-size: 25px;
    }

    #main-submenu {
        display: flex;
    }

    #main-submenu li, #main-submenu li:first-child {
        margin-left: 0;
        margin-right: 20px;
        font-size: 20px;
    }

    #column-1, #column-2, #column-3 {
        clear: both;
        width: 100%;
        font-size: 15px;
    }

    #column-1 h3, #column-2 h3, #column-3 h3 {
        font-size: 1.4em;
    }

    #main-footer {
        height: 230px;
    }
}
