#categories-list {
    list-style-type: none;
}

#categories-list > li {
    margin-bottom: 5px;
}

.category-title {
    font-size: 1.4em;
    cursor: pointer;
    transition: color 0.15s 0s ease-in-out;
}

.category-title:not(.current-category):hover {
    color: #FCAB35;
}

.subcategories-list {
    list-style-type: square;
    list-style-position: inside;
    padding: 3px 0;
    margin-left: 20px;

    max-height: 0;
    width: auto;
    overflow: hidden;
    transition: max-height 0.2s 0s ease-in-out;
}

.subcategories-list a {
    color: #272727;
    text-decoration: none;
}

.subcategories-list a:hover {
    color: #CFA686;
}

.current-category {
    cursor: default;
    text-decoration: underline;
}

.current-subcategory {
    text-decoration: underline;
}

.current-category + .subcategories-list {
    transition: none;
}