/*'PT Sans'*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/*'PT Sans Narrow'*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
/*'Lexend Deca'*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/*API responses contain @font-face blocks*/

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../src/img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

#root {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.content-container {
    display: block;
    width: 980px;
    height: 100%;
    margin: auto;
    padding: 0 10px;
}

#main-header {
    display: block;
    width: 100%;
    min-height: 200px;
    background-color: ghostwhite;
}

#main-header-content {
    color: #272727;
}

#title-holder {
    float: left;
    display: flex;
    align-items: stretch;
    margin: 25px 0;
}

#logo {
    width: 150px;
    height: 150px;
}

#title-text {
    font-family: "Lexend Deca", sans-serif;
    position: relative;
}

#title {
    margin: 30px 5px;
    font-size: 3em;
    font-weight: bold;
}

#subtitle {
    margin: 20px 5px;
    position: absolute;
    bottom: 0;
    font-size: 1.4em;
    line-height: 1.4em;
}

#feedback-info-holder {
    float: right;
    margin-top: 10px;
}

.contact-phone {
    font-size: 2.2em;
    line-height: 1.2em;
    font-family: 'PT Sans Narrow', sans-serif;
}

#feedback-form-link {
    margin-top: 15px;
    font-size: 1.5em;
    border-bottom: 2px dashed #272727;
    float: right;
}

#feedback-form-link {
    transition: all 0.15s 0s ease-in-out;
    cursor: pointer;
}

#feedback-form-link:hover {
    color: #FCAB35;
    border-bottom-color: #FCAB35;
}

#feedback-form-link:active {
    color: #CFA686;
    border-bottom-color: #CFA686;
}

#main-menu {
    display: block;
    width: 100%;
    background-color: #272727;
}

#main-menu-content {
    text-align: center;
}

#main-menu-content li {
    display: inline-block;
    position: relative;
    box-sizing: content-box;
    margin: 15px 0;
    list-style-type: none;
}

#main-menu-content .menu-items-separator {
    display: inline-block;
    color: white;
    margin: 0 17px;
}

#main-menu-content li a {
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    transition: color 0.12s 0s ease-in;
}

#main-menu-content li:hover a {
    color: #FCAB35;
}

.item-hover-indicator {
    width: 0;
    height: 2px;
    position: absolute;
    top: 85%;
    left: 0;
    background-color: #FCAB35;
    border-radius: 1px;
    transition: width 0s;
}

#main-menu-content li:hover .item-hover-indicator {
    width: 100%;
    transition: width 0.3s ease;
}

#slider-section {
    display: block;
    width: 100%;
    height: 400px;
    -webkit-box-shadow: inset 0 3px 6px #272727;
    -moz-box-shadow: inset 0 3px 6px #272727;
    -o-box-shadow: inset 0 3px 6px #272727;
    box-shadow: inset 0 3px 6px #272727;
}

#slider-section-content {
    position: relative;
    background-color: #272727;
}

#path-section {
    display: block;
}

#path-section-content {
    height: 40px;
    line-height: 40px;
    background-color: ghostwhite;
}

#path-section-content a {
    color: #272727;
    text-decoration: none;
}

#path-section-content a:hover {
    color: #CFA686;
}

#main-section-content {
    display: flex;
    align-items: stretch;
    padding-top: 15px;
    /*padding-bottom: 15px;*/
    background-color: ghostwhite;

    padding-bottom: 100px;
}

#catalog-tree-holder {
    width: 20%;
    padding-left: 5px;
}

#catalog-section {
    flex: 1;
}

#price-list-download-link {
    font-size: 1.4em;
    color: #272727;
    font-weight: bold;
    text-align: center;

    transition: all 0.15s 0s ease;
}

#price-list-download-link:hover {
    transform: scale(1.1);
    color: #CFA686;
}

#price-list-download-link img{
    display: block;
    width: 50%;
    margin: auto;
}

#photography-history {
    column-count: 2;
    column-gap: 60px;
    text-align: justify;
    margin-top: 60px;
    padding-top: 30px;
    border-top: 1px solid#272727;
    color: #272727;
}

#main-footer {
    display: block;
    width: 100%;
    background-color: #272727;
}

#main-footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: #CFA686;
}

#main-footer-content a{
    color: #CFA686;
}

#main-footer-content a:hover{
    color: #FCAB35;
}

#main-footer-content ul{
    list-style-type: none;
}

